.vcenter {
  display: flex;
  align-items: center; }

.hcenter {
  justify-content: center; }

.main {
  background-image: url(../img/main_bg.png);
  background-position: center top;
  background-repeat: no-repeat; }

.menu_row {
  padding-top: 60px; }

.menu_link {
  padding: 5px;
  font-family: Muller Hairline;
  font-size: 24px;
  color: white;
  font-weight: bold;
  transition: all 0.3s; }
  .menu_link:hover {
    color: #f0772e;
    cursor: pointer; }

.logo_row {
  padding-top: 60px;
  text-align: center; }

.phone {
  font-size: 40px;
  font-family: Franklin Gothic Demi Cond;
  font-weight: bold;
  line-height: 0.8;
  white-space: nowrap; }

.callback {
  text-align: right; }

.call {
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap; }
  .call:hover {
    color: white; }

.main_line {
  height: 10px;
  background-color: #f0772e;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 36px; }

.main_title {
  font-family: Muller;
  font-weight: bold;
  color: white;
  font-size: 62px;
  margin-bottom: 30px;
  line-height: 1; }

.main_text {
  font-family: Muller Hairline;
  color: white;
  font-size: 26px;
  font-weight: bold; }

.main_button {
  padding: 15px 40px;
  background: linear-gradient(to right, #f0782e, #e55c00);
  border: none;
  border-radius: 30px;
  color: white;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s; }
  .main_button:hover {
    filter: brightness(1.2);
    cursor: pointer; }
  .main_button:focus {
    outline: none; }

.main_row {
  padding-bottom: 180px; }

.row_title {
  font-family: Franklin Gothic Demi Cond;
  font-weight: bold;
  font-size: 60px;
  color: #ee7327;
  text-align: center;
  line-height: 1; }

.adv_row {
  margin-top: 60px;
  margin-bottom: 40px; }

.adv_col {
  padding: 0px;
  margin: 0px; }

.img_adv_line {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }

.adv_ico_title {
  font-family: Franklin Gothic Demi Cond;
  font-weight: bold;
  font-size: 25px;
  color: #959595;
  line-height: 1.1;
  padding-top: 10px;
  padding-bottom: 10px; }

.adv_text {
  font-family: Roboto;
  color: #959595;
  font-size: 18px;
  line-height: 1.2;
  padding: 10px; }

.about {
  background-image: url(../img/about_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 200px; }

.about_row {
  padding-top: 60px; }

.about_text {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.2; }

.about_text_orange {
  color: #ee7327; }

.about_ico {
  width: 50px; }

.row_sub_title {
  font-family: Roboto;
  font-size: 26px;
  color: white;
  text-align: center;
  font-weight: 400; }

.buy {
  background-image: url(../img/buy_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 250px; }

.input_row {
  padding-top: 80px;
  padding-bottom: 100px; }

.buy_input {
  border: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  padding: 10px;
  margin: 20px;
  text-align: center;
  color: white;
  width: 80%;
  font-family: Roboto;
  font-size: 22px;
  font-style: italic; }
  .buy_input:focus {
    outline: none; }

.buy_button_row {
  padding-bottom: 320px; }

.portfolio_row {
  padding-top: 60px;
  padding-bottom: 30px; }

.portfolio_item {
  padding-bottom: 30px;
  position: relative; }

.portfolio_img {
  width: 100%; }

.portfolio_link {
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  color: white; }
  .portfolio_link:hover {
    border-bottom: 2px solid white;
    text-decoration: none;
    color: white; }

.portfolio_hover {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  background-clip: padding-box;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid transparent;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .portfolio_hover:hover {
    opacity: 1; }

.plan_row {
  padding-top: 60px;
  padding-bottom: 30px; }

.plan_title {
  font-family: Franklin Gothic Demi Cond;
  font-size: 36px;
  line-height: 1;
  padding-bottom: 30px; }

.plan_text {
  font-family: Roboto;
  font-size: 22px;
  line-height: 1.2; }

.plan_bg {
  background-image: url(../img/about_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 180px; }

.plan_number {
  font-family: Franklin Gothic Demi Cond;
  font-size: 60px; }

.plan_arrow {
  padding-left: 15px;
  padding-right: 15px; }

.plan_number_text {
  font-family: Roboto;
  font-size: 20px;
  cursor: pointer; }

.nowrap {
  white-space: nowrap; }

.contacts_title_padding {
  padding-top: 220px;
  padding-bottom: 60px; }

.contacts_input {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-family: Roboto;
  color: gray; }
  .contacts_input_big {
    padding-bottom: 100px; }
  .contacts_input:focus {
    outline: none; }

.contacts_ico {
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px; }

.contacts_ico_big {
  padding-left: 10px;
  padding-right: 10px; }

.contacts_text {
  font-family: Roboto;
  font-size: 30px;
  color: white;
  padding-top: 30px;
  line-height: 2; }

.contacts_col {
  padding-left: 80px; }

.contacts {
  background-image: url(../img/contacts_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 60px; }

.footer {
  background-color: #090b18;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  color: #32333b; }

.social_ico {
  cursor: pointer;
  transition: all 0.3s; }
  .social_ico:hover {
    filter: brightness(1.3); }

[v-cloak] {
  display: none; }

.modal_title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 20px; }

.modal_input {
  font-family: Roboto;
  font-size: 18px;
  width: 90%;
  padding: 10px 20px;
  color: gray;
  border-radius: 15px;
  border: 2px solid lightgray;
  margin-bottom: 20px; }
  .modal_input:focus {
    outline: none; }

.modal_text {
  font-family: Roboto;
  font-size: 20px;
  padding-bottom: 20px; }

.modal_button {
  padding: 10px 25px;
  background: linear-gradient(to right, #f0782e, #e55c00);
  border: none;
  border-radius: 30px;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s; }
  .modal_button:hover {
    filter: brightness(1.2);
    cursor: pointer; }
  .modal_button:focus {
    outline: none; }

.modal_text_2 {
  font-family: Roboto;
  font-size: 18px;
  padding-top: 20px;
  line-height: 1.3; }

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1; }

.modal-container {
  position: fixed;
  top: 3%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 94%;
  width: 700px;
  height: auto;
  max-height: 94%;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  z-index: 2;
  overflow: scroll; }

.modal-container::-webkit-scrollbar {
  display: none; }

.modal-container {
  -ms-overflow-style: none; }

.close_modal {
  font-size: 30px;
  cursor: pointer;
  top: 0px;
  right: 15px;
  position: absolute; }

.scroll-disable-desktop {
  overflow: hidden;
  padding-right: 17px; }

.scroll-disable-mobile {
  overflow: hidden; }

.modal-enter-active, .modal-leave-active {
  transition: all 0.3s; }

.modal-enter, .modal-leave-to {
  opacity: 0;
  transform: scale(0.8); }

.modal_bg-enter-active, .modal_bg-leave-active {
  transition: all 0.3s; }

.modal_bg-enter, .modal_bg-leave-to {
  opacity: 0; }

@media (max-width: 1500px) {
  .main_img_fluid {
    max-width: 100%; }
  .main {
    background-image: url(../img/main_bg_2.png); }
  .main {
    background-size: cover; } }

@media (max-width: 1199px) {
  .main_button {
    font-size: 20px; }
  .main_title {
    font-size: 50px; }
  .plan_number {
    font-size: 50px; }
  .plan_bg {
    background-size: cover;
    padding-top: 140px; }
  .contacts {
    background-size: cover; }
  .about {
    background-size: cover; }
  .buy {
    background-size: cover; }
  .buy_button_row {
    padding-bottom: 200px; }
  .about {
    padding-top: 130px; } }

@media (max-width: 991px) {
  .callback {
    text-align: center;
    margin-top: 10px; }
  .main_button {
    font-size: 15px; }
  .menu_row {
    padding-top: 30px; }
  .logo_row {
    padding-top: 30px; }
  .main_title {
    font-size: 40px; }
  .main_line {
    margin-left: 0px; }
  .menu_link {
    padding: 0px; }
  .contacts_col {
    padding-left: 30px; }
  .input_row {
    padding-top: 20px;
    padding-bottom: 40px; }
  .about {
    padding-top: 180px; }
  .buy {
    padding-top: 200px; } }

@media (max-width: 767px) {
  .main_button {
    margin: auto;
    display: block;
    margin-bottom: 30px; }
  .main {
    background-image: url(../img/main_bg_m.png); }
  .about {
    background-image: url(../img/about_bg_m.png);
    padding-top: 130px; }
  .plan_bg {
    background-image: url(../img/about_bg_m.png);
    padding-top: 100px; }
  .buy {
    background-image: url(../img/buy_bg_m.png);
    padding-top: 130px; }
  .contacts {
    background-image: url(../img/contacts_bg_m.png); }
  .contacts_title_padding {
    padding-top: 140px; }
  .main_row {
    padding-bottom: 130px; }
  .contacts_col {
    padding-left: 15px;
    text-align: center;
    padding-top: 30px; }
  .buy_button_row {
    padding-bottom: 80px; } }

@media (max-width: 575px) {
  .phone {
    font-size: 30px; }
  .call {
    font-size: 20px; }
  .main_button {
    padding: 15px 25px; }
  .row_title {
    font-size: 30px; }
  .row_sub_title {
    font-size: 22px; }
  .contacts_text {
    font-size: 18px; }
  .contacts_ico_big {
    width: 70px; }
  .buy {
    padding-top: 100px; }
  .menu_link {
    font-size: 20px; }
  .menu_row {
    padding-top: 10px; }
  .logo_row {
    padding-top: 10px; }
  .main_title {
    font-size: 30px;
    margin-bottom: 20px; }
  .main_text {
    line-height: 1.1;
    font-size: 22px; }
  .main_line {
    margin-top: 20px;
    margin-bottom: 20px; }
  .modal_title {
    font-size: 24px; }
  .plan_text {
    font-size: 18px; } }
