.row {
  margin: 0px; }

.nopadding {
  padding: 0px; }

label {
  margin: 0px; }

.container-fluid {
  overflow: hidden; }

[v-cloak] {
  display: none; }

.relative {
  position: relative; }

.gray_row_bg {
  background-color: #efefef; }

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center; }

.menu {
  padding-top: 20px; }

.menu_link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 22px;
  transition: all 0.3s; }
  .menu_link:hover {
    color: #c1dc31;
    cursor: pointer; }

.menu_link_p {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #c1dc31;
  font-family: Roboto;
  text-align: center;
  font-size: 22px;
  transition: all 0.3s; }
  .menu_link_p:hover {
    color: #d7ff00; }

.main_bg {
  background-image: url(../img/main_bg.png);
  background-position: center bottom;
  background-size: cover; }

.logo {
  padding-top: 40px; }

.main_title {
  font-family: Roboto;
  font-size: 40px;
  color: white;
  line-height: 1.2;
  padding-top: 40px; }

.main_sub_title {
  color: #c1dc31; }

.main_button {
  font-family: Roboto;
  background-color: #c1dc31;
  border: none;
  padding: 20px 40px;
  font-size: 34px;
  font-weight: 700;
  border-radius: 50px;
  margin-top: 40px;
  margin-bottom: 450px;
  transition: all 0.3s; }
  .main_button:focus {
    outline: none; }
  .main_button:hover {
    color: white;
    background-color: #7fb548;
    cursor: pointer;
    transform: scale(1.03); }

.about_bg {
  background-image: url(../img/about_bg.png);
  background-position: center bottom;
  background-repeat: no-repeat; }

.row_title {
  text-align: center;
  font-family: Roboto Slab;
  font-size: 60px;
  line-height: 1;
  padding-bottom: 20px; }

.row_line {
  max-width: 270px;
  height: 5px;
  background-color: #c1dc31;
  display: flex;
  margin: auto; }

.row_sub_title {
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  padding-top: 10px; }

.about_text {
  font-family: Roboto;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 50px; }

.about_row {
  padding-top: 70px;
  padding-bottom: 250px; }

.about_ico_img {
  transition: all 0.3s; }
  .about_ico_img:hover {
    transform: scale(1.1); }

.row_padding {
  padding-top: 60px;
  padding-bottom: 60px; }

.toggle_button {
  position: relative;
  height: 70px;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 50px;
  background-color: inherit;
  padding: 7px;
  transition: all 0.3s; }
  .toggle_button:focus {
    outline: none; }
  .toggle_button:hover {
    cursor: pointer;
    background-color: #e0e0e0; }

.toggle_1 {
  background-color: #212426;
  width: 50%;
  height: 100%;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: 1; }

.toggle_2 {
  background-color: #212426;
  width: 50%;
  height: 100%;
  border-radius: 50px;
  transform: translateX(100%);
  transition: all 0.3s;
  z-index: 1; }

.toggle_button_text_row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; }

.toggle_button_text {
  font-family: Roboto;
  font-size: 20px;
  width: 50%;
  z-index: 2;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s; }

.toggle_button_text_white {
  color: white; }

.row_menu_padding {
  padding-top: 40px; }

.menu_label {
  font-family: Roboto;
  font-size: 22px;
  cursor: pointer;
  padding: 5px; }

.menu_label div {
  border: 3px solid #efefef;
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 0.3s; }
  .menu_label div:hover {
    border-color: #d7e887; }

input[type="radio"] {
  display: none; }

input[type="radio"]:checked + div {
  border-color: #bcd350;
  transition: all 0.3s; }

.menu_img {
  width: 100%; }

.menu_item {
  background-color: white;
  background-clip: content-box;
  padding: 15px; }

.menu_item_title {
  font-family: Roboto;
  font-size: 24px;
  padding-top: 15px;
  padding-left: 20px; }

.menu_item_ccal {
  font-size: 40px;
  font-family: Roboto;
  color: #bcd350;
  font-weight: 700;
  padding-left: 20px;
  margin-bottom: -5px; }

.menu_item_weight {
  font-family: Roboto;
  font-size: 16px;
  color: #9a9a9a;
  padding-left: 20px;
  padding-bottom: 10px; }

.menu_item_col {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  margin-bottom: 15px; }

.menu_item_col_b {
  border-right: 2px solid lightgray; }

.menu_slider_padding {
  padding-bottom: 60px;
  padding-top: 20px; }

.calc {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 60px; }

.calc_text {
  font-family: Roboto;
  font-size: 24px;
  color: black;
  transition: all 0.3s; }

.calc_title {
  font-family: Roboto;
  font-size: 30px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px; }

.calc_line {
  width: 100%;
  height: 3px;
  background-color: #c1dc31;
  display: flex;
  margin: auto;
  margin-top: 30px; }

.calc_input {
  width: 100px;
  margin-left: 20px;
  border: 3px solid #efefef;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: gray;
  text-align: center; }
  .calc_input:focus {
    outline: none; }

.calc_label div {
  border: 3px solid #efefef;
  font-family: Roboto;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  padding: 10px 10px;
  border-radius: 20px;
  transition: all 0.3s;
  line-height: 1; }
  .calc_label div:hover {
    border-color: #d7e887; }

.calc_label {
  width: 100%; }

.calc_label_min div {
  border: 3px solid #efefef;
  font-family: Roboto;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 20px;
  transition: all 0.3s; }
  .calc_label_min div:hover {
    border-color: #d7e887; }

.calc_label_min {
  width: 100%; }

.calc_bottom_text {
  font-family: Roboto;
  font-size: 30px;
  color: black;
  line-height: 1; }

.calc_bottom {
  margin-top: 30px; }

.calc_bottom_count {
  font-size: 50px;
  font-family: Roboto;
  color: #bcd350;
  font-weight: 700;
  line-height: 0.7;
  text-align: center; }

.sub_title {
  background-color: #bcd350;
  font-size: 35px;
  font-family: Roboto Slab;
  color: white;
  font-weight: 700;
  padding: 20px; }

.sub_ccal {
  font-family: Roboto;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  color: #bcd350;
  line-height: 1;
  padding-top: 20px; }

.sub_item {
  border: 1px solid lightgray;
  margin-bottom: 30px; }

.sub_text {
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px; }

.sub_button {
  background-color: #c22d2d;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  transition: all 0.3s;
  cursor: pointer; }
  .sub_button:focus {
    outline: none; }
  .sub_button:hover {
    background-color: #e21616; }

.cons_bg {
  background-color: #fbfdfc; }

.cons_input {
  width: 90%;
  border: 2px solid lightgray;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-family: Roboto;
  color: gray;
  font-size: 20px; }
  .cons_input:focus {
    outline: none; }

.cons_button {
  background-color: #c22d2d;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  width: 90%;
  margin: 10px;
  color: white;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  transition: all 0.3s;
  cursor: pointer; }
  .cons_button:focus {
    outline: none; }
  .cons_button:hover {
    background-color: #e21616; }

.footer_bg {
  background-image: url(../img/footer_bg.png);
  background-position: center top;
  background-repeat: repeat-x;
  padding-bottom: 30px;
  padding-top: 100px;
  margin-top: 30px; }

.social {
  width: 60px;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer; }
  .social:hover {
    filter: brightness(1.5); }

.footer_text {
  font-family: Roboto;
  color: white;
  font-size: 20px;
  text-align: center; }

.slide-enter {
  opacity: 0;
  transform: translateX(-100%); }

.slide-enter-active {
  transition: all 0.4s;
  transition-delay: 0.1s; }

.slide-leave-to {
  opacity: 0;
  transform: translateX(100%); }

.slide-leave-active {
  transition: all 0.4s;
  position: absolute;
  top: 0;
  width: 100%; }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  transition: all 0.4s;
  transition-delay: 0.2s; }

.fade-leave-to {
  opacity: 0; }

.fade-leave-active {
  transition: all 0.4s;
  position: absolute;
  top: 0;
  width: 100%; }

.modal_text {
  font-family: Roboto;
  font-size: 18px;
  padding-bottom: 20px; }

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3; }

.modal-container {
  position: fixed;
  overflow-y: scroll;
  font-family: Roboto;
  top: 3%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 95%;
  width: 700px;
  height: auto;
  max-height: 94%;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  z-index: 4; }

.modal-container::-webkit-scrollbar {
  width: 0; }

.modal_button {
  background-color: #c22d2d;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  width: 200px;
  margin: 10px;
  color: white;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.3s;
  cursor: pointer; }
  .modal_button:focus {
    outline: none; }
  .modal_button:hover {
    background-color: #e21616; }

.modatl_title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 1;
  padding-bottom: 30px;
  font-weight: 700; }

.modal-enter-active, .modal-leave-active {
  transition: all 0.3s; }

.modal-enter, .modal-leave-to {
  opacity: 0;
  transform: scale(0.8); }

.modal_bg-enter-active, .modal_bg-leave-active {
  transition: all 0.3s; }

.modal_bg-enter, .modal_bg-leave-to {
  opacity: 0; }

@media (max-width: 1199px) {
  .about_bg {
    background-image: url(../img/about_bg_m.png); }
  .menu_item_col {
    font-size: 12px; }
  .sub_title {
    font-size: 30px; } }

@media (max-width: 991px) {
  .main_button {
    margin-bottom: 150px; }
  .calc_bottom_count {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media (max-width: 767px) {
  .calc_label_min {
    width: 80%; }
  .toggle_img {
    display: none; } }

@media (max-width: 575px) {
  .menu_link, .menu_link_p {
    padding: 2px 8px;
    font-size: 16px; }
  .about_text {
    font-size: 16px; }
  .modatl_title {
    font-size: 30px; }
  .cons_button {
    padding: 10px 20px;
    font-size: 18px; }
  .sub_title {
    font-size: 22px; }
  .menu_label {
    display: block;
    width: 80%; }
  .menu_item_col_b {
    border: none; }
  .menu_item_ccal {
    font-size: 30px; }
  .sub_ccal {
    font-size: 40px; }
  .row_title {
    font-size: 30px; }
  .row_sub_title {
    font-size: 20px; }
  .toggle_button_text {
    font-size: 14px; }
  .calc {
    padding: 10px; }
  .main_button {
    font-size: 18px;
    padding: 10px 20px; }
  .main_title {
    font-size: 22px; } }
